<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalii Film</title>
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}">
            <i class="fas fa-film mx-1"></i> Filme
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" th:href="@{'/my-tickets'}">Biletele Mele</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{'/login'}">
                        <i class="fas fa-sign-in-alt"></i> Autentificare
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{'/register'}">
                        <i class="fas fa-user-plus"></i> Înregistrare
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form method="post" th:action="@{/logout}">
                        <button class="nav-link btn btn-link" type="submit">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="mt-5">

        <h2 th:text="${movie.title}">Titlu film</h2>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <form method="post" th:action="@{/movies/update/{id}(id=${movie.id})}" th:object="${movie}">
                <div class="mb-3">
                    <label>Titlu</label>
                    <input class="form-control" th:field="*{title}" type="text" required/>
                </div>
                <div class="mb-3">
                    <label>Descriere</label>
                    <textarea class="form-control" th:field="*{description}" required></textarea>
                </div>
                <div class="mb-3">
                    <label>Durată (minute)</label>
                    <input class="form-control" th:field="*{duration}" type="number" required/>
                </div>
                <div class="mb-3">
                    <label th:for="rating">Rating</label>
                    <select class="form-select" required th:field="*{rating}">
                        <option disabled value="">Selectează rating</option>
                        <option th:each="r : ${T(com.awbd.cinema.domain.enums.Rating).values()}"
                                th:text="${r}"
                                th:value="${r}">Rating
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Gen</label>
                    <select class="form-select" th:field="*{genre.id}">
                        <option th:each="g : ${genres}" th:text="${g.name}" th:value="${g.id}">Gen</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Salvează</button>
            </form>
            <hr/>

            <a class="btn btn-success"
               th:href="@{'/screening-form'(movieId=${movie.id})}">
                <i class="fas fa-plus-circle"></i> Adaugă proiecție pentru acest film
            </a>
        </div>


        <div sec:authorize="hasRole('ROLE_USER')">
            <h4>Proiecții disponibile</h4>
            <div th:if="${#lists.isEmpty(screenings)}">
                <p class="text-muted">Nu există proiecții disponibile momentan.</p>
            </div>
            <table class="table table-bordered" th:if="${!#lists.isEmpty(screenings)}">
                <thead>
                <tr>
                    <th>Dată</th>
                    <th>Oră</th>
                    <th>Sală</th>
                    <th>Preț</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${screenings}">
                    <td th:text="${#temporals.format(s.startTime, 'dd.MM.yyyy')}"></td>
                    <td th:text="${#temporals.format(s.startTime, 'HH:mm')}"></td>
                    <td th:text="${s.hall.name}"></td>
                    <td th:text="${s.price + ' RON'}"></td>
                    <td>
                        <a class="btn btn-success" th:href="@{'/screenings' + '/reserve/' + ${s.id}}">Rezervă</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>
